.sales-contract * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-print-color-adjust: exact !important;
    font-size: 11px;
    font-family: 'Nanum Gothic', sans-serif;
}
.sales-contract body {
    margin: 0;
    padding: 0;
}
.sales-contract .page {
    width: 21cm;
    padding: 1cm;
    margin: 10 auto;
    border-radius: 5px;       
}
.sales-contract .subpage {
    border:none;
    background: #fff;
    height: 230mm;
}
table,
th,
tr,
.sales-contract td {
    border: 1px solid black;
    border-collapse: collapse;
}
.sales-contract table {
    margin: 0 auto;
}
.sales-contract div {
    border: 1px solid black;
}
.sales-contract body>div{
    border:none;
}
.sales-contract tr>th {
    text-align: center;
}
.sales-contract h1 {
    font-size: 25px;
    font-weight:800;
    margin-top: 2%;
    text-align: center;
    border: 1px solid #000;
    margin-bottom: 0;
    border-bottom: none;
}
.sales-contract .sub-section-part1{
    height:230px;
}
.sales-contract .sub-section-part2 {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}
.sales-contract .sub-section-part3{
    height: 50px;
}
.sales-contract .sub-section-part4{
    height: 50px;
}
.sales-contract .sub-section-part5{
    height: 60px;
    border-bottom:1px solid #000;
}
.sales-contract .contract-agreement{
    letter-spacing: 2pt;
    background: #EAEAEA;
}
.sales-contract .location {
    background: #EAEAEA;
    text-align: center;
    letter-spacing: 5px;
}
.sales-contract .land {
    width: 10%;
    background: #EAEAEA;
    text-align: center;
    letter-spacing: 5px;
}
.sales-contract .land-category {
    width: 8%;
    background: #EAEAEA;
    text-align: center;
    letter-spacing: 5px;
}
.sales-contract .land-category-content {
    width: 11%;
}
.sales-contract .land-area {
    width: 8%;
    background: #EAEAEA;
    text-align: center;
    letter-spacing: 5px;
}
.sales-contract .land-area-content {
    width: 11%;
}
.sales-contract .right-of-use-type {
    width: 8%;
    text-align: center;
    background: #EAEAEA;
}
.sales-contract .right-of-use-type-content {
    width: 11%;
    text-align: center;
}
.sales-contract .right-of-use-ratio {
    width: 8%;
    background: #EAEAEA;
}
.sales-contract .right-of-use-ratio-content {
    width: 15%;
    text-align: center;
}
.sales-contract .contract-content{
    background: #EAEAEA;
}
.sales-contract .building {
    width: 100px;
    background: #EAEAEA;
    text-align: center;
    letter-spacing: 5px;
}
.sales-contract .building-structure {
    width: 150px;
    background: #EAEAEA;
    text-align: center;
    letter-spacing: 5px;
}
.sales-contract .building-structure-content {
    width: 100px;
}
.sales-contract .building-purpose {
    width: 100px;
    background: #EAEAEA;
    text-align: center;
    letter-spacing: 5px;
}
.sales-contract .building-purpose-content {
    width: 150px;
}
.sales-contract .building-area {
    width: 100px;
    background: #EAEAEA;
    text-align: center;
    letter-spacing: 5px;
}
.sales-contract .building-area-content {
    width: 200px;
}
.sales-contract .sales-price {
    background: #EAEAEA;
    text-align: center;
    letter-spacing: 5px;
}
.sales-contract .earnest-money-deposit-amount {
    background: #EAEAEA;
    text-align: center;
}
.sales-contract .span-deposit-amount-left{
    display: inline-block;
    width: 70%; 
    text-align: right;
    letter-spacing: 1pt;
    font-size: 9pt;
    font-weight: 500;
}
.sales-contract .span-deposit-amount-right{
    width: 20%; 
    font-size: 9pt;
    display: inline-block;
    text-align: right;
    letter-spacing: 1pt;
}

.sales-contract .initial-down-payment-amount {
    background: #EAEAEA;
    text-align: center;
}
.sales-contract .second-down-payment-amount {
    background: #EAEAEA;
    text-align: center;
}
.sales-contract .balance-amount {
    background: #EAEAEA;
    text-align: center;
    letter-spacing: 5px;
}
.sales-contract .contract-details{
    display:flex;
    border: none;
    letter-spacing: 0.3pt;
}
.sales-contract .contract-details span {
    margin-left: 1%;
    width: 40px;
}
.sales-contract .contract-details p {
    width: 95%;
    margin: 1px 0px;
    font-size:9pt;
}
.sales-contract .navigation{
    height:250px; 
    border: none;
}
.sales-contract .execution-date{
    border: none;
    border-top: 1px solid black; 
    text-align: center;
    font-size: 9pt;
    letter-spacing: 1.5pt;
}
.sales-contract .buyer {
    width: 5%;
    background: #EAEAEA;
}
.sales-contract .buyer > span{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 9pt;
    letter-spacing: 1pt;
}
.sales-contract .adress {
    width: 10%;
    letter-spacing: 5px;
    background: #EAEAEA;
}
.sales-contract .phone {
    width: 50px;
    text-align: center;
    letter-spacing: 5px;
    background: #EAEAEA;
    ;
}
.sales-contract .phone-content {
    width: 200px;
}
.sales-contract .name {
    width: 50px;
    background: #EAEAEA;
    text-align: center;
    letter-spacing: 5px;
}
.sales-contract .name-content {
    width: 280px;
}
.sales-contract .buyer-sign {
    width: 100px;
}
.sales-contract .seller {
    width: 5%;
    background: #EAEAEA;
}
.sales-contract .seller > span{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 9pt;
    letter-spacing: 1pt;
}
.sales-contract .seller_sign {
    width: 100px;
}
.sales-contract .agency-name {
    width: 6.15%;
    background: #EAEAEA;
}
.sales-contract .agency-name >span{
     writing-mode: vertical-lr;
    text-orientation: upright;
    vertical-align: top;
    font-size: 9pt;
    line-height: 8pt;
    letter-spacing: 1pt;
}
.sales-contract .agency-adress {
    width: 9.8%;
    text-align: center;
    background: #EAEAEA;
}
.sales-contract .agency-office {
    background: #EAEAEA;
    text-align: center;
}
.sales-contract .agency-phone {
    background: #EAEAEA;
    text-align: center;
    letter-spacing: 5px;
}
.sales-contract .agency-phone-content {
    width: 15%;
}
.sales-contract .agency-registration-number {
    width: 7%;
    background: #EAEAEA;
}
.sales-contract .agency-registration-number-content {
    width: 22%;
}
.sales-contract .delegator {
    width: 100px;
    background: #EAEAEA;
    text-align: center;
    letter-spacing: 5px;
}
.sales-contract .sign {
    width: 150px;
}
.sales-contract .ssn{
    width: 100px;
    background: #EAEAEA;
    text-align: center;
}
.sales-contract .ssn-content {
    width: 250px;
}
.sales-contract .official-agency {
    width: 11%;
    background: #EAEAEA;
}
.sales-contract .name-sign {
    width: 8%;
}
.sales-contract .name-sign-content {
    width: 22%;
}
.sales-contract .logo-section{
    width: 100%;
    height: 60pt;
    margin-top: 3pt;
    display: flex;
    border: none;
}
.sales-contract .sub-logo-section{
    flex:0.8; 
    box-sizing:border-box; 
    border: none;
}
.sales-contract .text-logo{
    flex:1;
    box-sizing: border-box;
    border:none;
}
.sales-contract .text-logo>img{
    width:350px;
    height:auto;
    margin-top:-5%;
}
.sales-contract .image-logo{
    flex: 1;
    box-sizing: border-box;
    text-align: right;
    border: none;
}
.sales-contract .image-logo>img{
    width:auto;
    height:42px; 
    margin-top:10%;
    margin-right:8%; 
    border-radius:5%;
}
.sales-contract .span-sign-layout{
    display: inline-block;
    width: 95%; 
    text-align: right;
}
.sales-contract .span-land-area-layout{
    display: inline-block;
    width: 95%; 
    text-align: right;
}
.sales-contract .span-date-layout{
    font-size: 9pt;
    display: inline-block;
    text-align: right;
    letter-spacing: 1pt;
}
.sales-contract .td-payment-amount-first-layout{
    font-size: 10pt;
}
.sales-contract .td-payment-amount-second-layout{
    font-size: 10pt;
    border-right: hidden;
}
.sales-contract .justify {
    display: block;
    width: 100%;
    text-align:justify;
    padding: 0 5px;
    margin-bottom: -20%
}
.sales-contract .justify::after {
    content: "";
    display: inline-block;
    width: 100%;
}
